<div class="modal fade" id="pendenciaDetailModal" tabindex="-1" aria-labelledby="pendenciaDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content create-ticket-modal">
            <div class="modal-header">
                <div>
                    <span class="create-ticket-kicker">Pendencia</span>
                    <h5 class="modal-title" id="pendenciaDetailModalLabel" data-pendencia-detail="titulo">Pendencia</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <div class="pendencia-detail__meta">
                    <span>Criado por <strong data-pendencia-detail="criado_por">-</strong></span>
                    <span data-pendencia-detail="criado_em">-</span>
                </div>
                <p class="pendencia-detail__descricao" data-pendencia-detail="descricao"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
